* {
  margin: 0;
  padding: 0;
}

.Header_outer_container {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: rgb(20, 20, 20); */
  background-color: transparent;

  color: rgb(24, 7, 7);
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  font-family: sans-serif;
}
.nav-black {
  background-color: rgb(20, 20, 20);
  color: aliceblue;
}
.logos {
  width: 120px;
}
.Header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}



.Header_left ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  opacity: 0.8;
}
.Header_left ul li {
  padding-left: 20px;
}
.Header-right ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.Header-right ul li {
  padding-left: 5px;
}
