*{
  margin: 0;
  padding: 0;
}


.Header_outer_container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  background-color: transparent;
  height: 10vh;
  color: rgb(24, 7, 7);
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  font-family: sans-serif;

}
.nav-black {
  background-color: rgb(20, 20, 20);
  color: aliceblue;
}
.logos {
  width: 120px;
}
.Header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

.Header_left ul {
  width: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
    opacity: 0.8;
}
.Header-right ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.Header-right ul li{

  padding-left: 5px;
}